*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    box-sizing: border-box;
    margin: auto;

}
body{
    width: 320px;
    margin: auto;
    background-color: rgba(137, 43, 226, 0.178);
    background-image:url(/img/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

header h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}

p{
    text-align: center;
    font-size: 18px;
    width: 300px;
}


header{
    width: 310px;
    height: 200px;
    background-color: rgb(229, 229, 237);
    display: flex;
    align-items: center;
    padding: 0 5px;
    box-shadow: 0px 6px 15px rgba(255, 0, 0, 0.578);
    border-radius: 5px;
    
    
}


.btns{
    width: 320px;
    margin-top: 5px;
    display: flex;
    
}

input{
    display: block;
    width: 310px;
    height: 40px;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgba(245, 244, 233, 0.795);
    border: .2px rgba(0, 0, 0, 0.664) solid;
}
input:hover{
    background-color: rgb(238, 234, 160);
    }

input:focus::-webkit-input-placeholder {
    color: transparent;
     }